<%- include ("../header.ejs") %>
    <%- include ("nav.ejs") %>


        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">


                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <%=title%>
                                </h4>
                                <hr>
                                <p>

                                    <% if(messages.success){%>
                                        <div class="alert alert-success" role="alert">
                                            <%= messages.success %>
                                        </div>
                                        <%}%>
                                            <% if(messages.error){%>
                                                <div class="alert
                                                            alert-danger" role="alert">
                                                    <%= messages.error %>
                                                </div>
                                                <%}%>
                                </p>
                                <form class="forms-sample" action="/car/save/" method="post">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Car Type</label>
                                                <select class="form-control" name="CarTypeId" required>
                                                    <option selected disabled>Option</option>
                                                    <% cartypes.forEach((cartype)=> { %>
                                                        <option value="<%= cartype.CarTypeId %>"
                                                            <%=cartype.CarTypeId===CarTypeId ? 'selected' : '' %>>
                                                            <%= cartype.CarType %>
                                                        </option>
                                                        <% }); %>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Model</label>
                                                <select class="form-control" name="ModelId">
                                                    <option selected disabled>Option</option>
                                                    <% models.forEach((model)=> { %>
                                                        <option value="<%= model.ModelId %>" <%=model.ModelId===ModelId
                                                            ? 'selected' : '' %>>
                                                            <%= model.Model %>
                                                        </option>
                                                        <% }); %>

                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Make</label>
                                                <select class="form-control" name="MakeId">
                                                    <option selected disabled>Option</option>
                                                    <% makes.forEach((make)=> { %>
                                                        <option value="<%= make.MakeId %>" <%=make.MakeId===MakeId
                                                            ? 'selected' : '' %>>
                                                            <%= make.Make %>
                                                        </option>
                                                        <% }); %>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Body</label>
                                                <select class="form-control" name="BodyId">
                                                    <option selected disabled>Option</option>
                                                    <% bodies.forEach((body)=> { %>
                                                        <option value="<%= body.BodyId %>" <%=body.BodyId===BodyId
                                                            ? 'selected' : '' %>>
                                                            <%= body.Body %>
                                                        </option>
                                                        <% }); %>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Condition</label>
                                                <select class="form-control" name="ConditionId">
                                                    <option selected disabled>Option</option>
                                                    <% conditions.forEach((condition)=> { %>
                                                        <option value="<%= condition.ConditionId %>"
                                                            <%=condition.ConditionId===ConditionId ? 'selected' : '' %>>
                                                            <%= condition.Condition %>
                                                        </option>
                                                        <% }); %>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Fuel Type</label>
                                                <select class="form-control" name="FuelTypeId">
                                                    <option selected disabled>Option</option>
                                                    <% fueltypes.forEach((fueltype)=> { %>
                                                        <option value="<%= fueltype.FuelTypeId %>"
                                                            <%=fueltype.FuelTypeId===FuelTypeId ? 'selected' : '' %>>
                                                            <%= fueltype.FuelType %>
                                                        </option>
                                                        <% }); %>

                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Transmission</label>
                                                <select class="form-control" name="TransmissionId">
                                                    <option selected disabled>Option</option>
                                                    <% transmissions.forEach((transmission)=> { %>
                                                        <option value="<%= transmission.TransmissionId %>"
                                                            <%=transmission.TransmissionId===TransmissionId ? 'selected'
                                                            : '' %>>
                                                            <%= transmission.Transmission %>
                                                        </option>
                                                        <% }); %>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Steering</label>
                                                <select class="form-control" name="Steering">
                                                    <option selected disabled>Option</option>
                                                    <option <%=Steering==='LEFT' ? 'selected' : '' %> value="LEFT">LEFT
                                                    </option>
                                                    <option <%=Steering==='RIGHT' ? 'selected' : '' %>
                                                        value="RIGHT">RIGHT</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputName1">External Color</label>
                                                <input type="text" class="form-control" name="ExteriorColor"
                                                    placeholder="Exterior Color" value="<%= ExteriorColor %>">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Internal Color</label>
                                                <input type="text" class="form-control" name="InteriorColor"
                                                    placeholder="Interior Color" value="<%= InteriorColor %>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Year Bought</label>
                                                <select name="YearBought" class="form-control">
                                                    <option selected disabled>Year</option>
                                                    <% for (let i=1970; i <=2025; i++) { %>
                                                        <option value="<%= i %>" <%=i==YearBought ? "selected" : "" %>>
                                                            <%= i %>
                                                        </option>
                                                        <% } %>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Years Used</label>
                                                <input type="text" class="form-control" name="YearsUsed"
                                                    placeholder="Years Used" value="<%= YearsUsed %>">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Mileage</label>
                                                <input type="text" class="form-control" name="Mileage"
                                                    placeholder="Mileage" value="<%= Mileage %>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Engine</label>
                                                <input type="text" class="form-control" name="Engine"
                                                    value="<%= Engine %>" placeholder="Engine">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Fuel Consumption</label>
                                                <input type="text" class="form-control" name="FuelConsumption"
                                                    placeholder="Fuel Consumption" value="<%= FuelConsumption %>">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Warrant</label>
                                                <input type="text" class="form-control" name="Warrant"
                                                    placeholder="Warrant" value="<%= Warrant %>">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Country Of Manufacture</label>
                                                <input type="text" class="form-control" name="CountryOfManufacture"
                                                    placeholder="Country Of Manufacture"
                                                    value="<%= CountryOfManufacture %>">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Service History</label>
                                                <input type="text" class="form-control" name="ServiceHistory"
                                                    placeholder="Service History" value="<%= ServiceHistory %>">
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Registration Number</label>
                                                <input type="text" class="form-control" name="RegNo" placeholder="RegNo"
                                                    value="<%= RegNo %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Year of Make</label>
                                                <select name="Year" class="form-control">
                                                    <option selected disabled>Year</option>
                                                    <% for (let i=1970; i <=2025; i++) { %>
                                                        <option value="<%= i %>" <%=i==Year ? "selected" : "" %>>
                                                            <%= i %>
                                                        </option>
                                                        <% } %>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Selling Price</label>
                                                <input type="text" class="form-control" name="SellingPrice"
                                                    value="<%= SellingPrice %>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="exampleInputName1">Other Details</label>
                                                <textarea class="form-control" name="OtherDetails" rows="4">
                                                    <%= OtherDetails %>
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>


                                    <input type="hidden" name="id" value="<%=id%>">

                                    <button type="submit" class="btn btn-primary mr-2">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <%- include ("../footer.ejs") %>