<%- include ("../header.ejs") %>
    <%- include ("nav.ejs") %>
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">

                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    <%=title%>
                                </h4>
                                <hr>
                                <p class="card-description">
                                    <a href="/car/addmake" class="btn btn-primary btn-sm btn-icon-text mr-3">
                                        Add
                                        <i class="typcn typcn-plus btn-icon-append"></i>
                                    </a>
                                </p>
                                <div class="row">
                                    <div class="col-md-12">
                                        <table class="table table-striped project-orders-table">
                                            <thead>
                                                <tr>
                                                    <!-- <th>ID</th> -->
                                                    <th>Make</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i< data.length; i++) { %>

                                                    <tr>
                                                        <!-- <td>
                                                            <%= (i+1) %>
                                                        </td> -->
                                                        <td>
                                                            <%= data[i].Make%>
                                                        </td>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <a type="button"
                                                                    href="../car/modeledit/<%=data[i].MakeId%>"
                                                                    class=" btn btn-success btn-sm btn-icon-text mr-3">
                                                                    Edit
                                                                    <i class="typcn typcn-edit btn-icon-append"></i>
                                                                </a>
                                                                <button type="button"
                                                                    class="btn btn-danger btn-sm btn-icon-text">
                                                                    Delete
                                                                    <i
                                                                        class="typcn typcn-delete-outline btn-icon-append"></i>
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <% }%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <%- include ("../footer.ejs") %>