<%- include ("header.ejs") %>

    <!-- header ends here  -->

    <!-- product details section starts here  -->
    <br><br><br><br><br><br><br><br><br>
    <section class="product-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 my-3">
                    <div class="slider product-slider">
                        <% images.forEach((photo)=> { %>
                            <div class="item me-3">
                                <div class="slider-card">
                                    <img src="/uploads/<%=photo.Photo%>" class="img-fluid" alt="product-img" />
                                </div>
                            </div>
                            <%})%>
                    </div>
                    <div class="slider product-thumbnail mt-4">
                        <% images.forEach((photo)=> { %>
                            <div>
                                <div class="item item-sliderNav">
                                    <img src="/uploads/<%=photo.Photo%>" class="img-fluid" alt="product thumbnail" />
                                </div>
                            </div>
                            <%})%>
                    </div>
                </div>
                <div class="col-lg-6 my-3">
                    <p class="green-tag">Private Seller</p>
                    <!-- <h3>Car Details</h3> -->
                    <h5 class="regular green-text">
                        <%=RegNo%>
                    </h5>
                    <p>
                        <%=Engine%>
                    </p>
                    <div class="row">
                        <div class="col-12 my-2">
                            <p class="mb-0">
                                <%=OtherDetails%>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xxl-6 col-xl-7 col-lg-8 col-md-6 col-sm-8">

                            <div class="row">
                                <!-- <div class="col-6 my-3"> -->
                                <div class="detail-card">
                                    <p class="green-text mb-2"> Price</p>
                                    <h3 class="regular">
                                        <%= SellingPrice !==null && SellingPrice !=='' ?
                                            SellingPrice.toLocaleString('en-US', { minimumFractionDigits: 2,
                                            maximumFractionDigits: 2 }) : '' %>
                                    </h3>
                                </div>
                                <!-- </div> -->

                            </div>
                            <div class="row">
                                <!-- <div class="col-12 my-3"> -->
                                <div class="detail-card">
                                    <!-- <p class="mb-2">Private Seller</p> -->
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-3">
                                            <img src="/img/call-icon.png" alt="phone icon" class="img-fluid phone-icon">
                                        </div>
                                        <div class="flex-grow-1">
                                            <h3 class="green-text regular mb-0">
                                                <a href="" style="text-decoration: none;">
                                                    <%=Phone%>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <!-- <p class="p-xs mt-2 mb-0">Seller's Number Has Been Protected.</p> -->
                                    <!-- </div> -->
                                </div>
                            </div>

                            <div class="row" style="margin-top: 3%;">
                                <!-- <div class="col-12"> -->
                                <div class="detail-card">
                                    <!-- <p class="mb-2">Private Seller</p> -->
                                    <div class="d-flex align-items-center">
                                        <div class="flex-shrink-0 me-3">
                                            <img src="/img/email-icon.png" alt="phone icon"
                                                class="img-fluid phone-icon">
                                        </div>
                                        <div class="flex-grow-1">
                                            <h3 class="green-text regular mb-0">
                                                <a href="" style="text-decoration: none;">
                                                    <%=Email%>
                                                </a>
                                            </h3>
                                        </div>
                                    </div>
                                    <!-- <p class="p-xs mt-2 mb-0">Seller's Number Has Been Protected.</p> -->
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- product details section ends here  -->

    <!-- car details section starts here  -->
    <section class="car-details">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 col-lg-11 col-12">
                    <h3><span class="green-text"> Details</span></h3>
                    <hr>
                    <p class="grey-text mb-3">
                    <table class="table">
                        <tr>
                            <td>Condition</td>
                            <td>
                                <%=Condition%>
                            </td>
                        </tr>
                        <tr>
                            <td>Type</td>
                            <td>
                                <%=CarType%>
                            </td>
                        </tr>
                        <tr>
                            <td>Model</td>
                            <td>
                                <%=Model%>
                            </td>
                        </tr>
                        <tr>
                            <td>Make</td>
                            <td>
                                <%=Make%>
                            </td>
                        </tr>
                        <tr>
                            <td>Body Type</td>
                            <td>
                                <%=Body%>
                            </td>
                        </tr>
                        <tr>
                            <td>Engine</td>
                            <td>
                                <%=Engine%>
                            </td>
                        </tr>

                        <tr>
                            <td>Year of Make</td>
                            <td>
                                <%=Year%>
                            </td>
                        </tr>

                        <tr>
                            <td>Steering</td>
                            <td>
                                <%=Steering%>
                            </td>
                        </tr>
                        <tr>
                            <td>Registration</td>
                            <td>
                                <%=RegNo%>
                            </td>
                        </tr>
                        <tr>
                            <td>Mileage</td>
                            <td>
                                <%=Mileage%>
                            </td>
                        </tr>
                        <tr>
                            <td>Interior Color</td>
                            <td>
                                <%=InteriorColor%>
                            </td>
                        </tr>
                        <tr>
                            <td>Exterior Color</td>
                            <td>
                                <%=ExteriorColor%>
                            </td>
                        </tr>
                        <tr>
                            <td>Transmission</td>
                            <td>
                                <%=Transmission%>
                            </td>
                        </tr>

                        <tr>
                            <td>FuelType</td>
                            <td>
                                <%=FuelType%>
                            </td>
                        </tr>

                        <tr>
                            <td>Year Bought</td>
                            <td>
                                <%=YearBought%>
                            </td>
                        </tr>

                        <tr>
                            <td>Years Used</td>
                            <td>
                                <%=YearsUsed%>
                            </td>
                        </tr>
                        <tr>
                            <td>Fuel Consumption</td>
                            <td>
                                <%=FuelConsumption%>
                            </td>
                        </tr>

                        <tr>
                            <td>Country Manufactured</td>
                            <td>
                                <%=CountryOfManufacture%>
                            </td>
                        </tr>

                        <tr>
                            <td>Service History</td>
                            <td>
                                <%=ServiceHistory%>
                            </td>
                        </tr>
                        <tr>
                            <td>Warrant</td>
                            <td>
                                <%=Warrant%>
                            </td>
                        </tr>
                        <tr>
                            <td>Other Details</td>
                            <td>
                                <%=OtherDetails%>
                            </td>
                        </tr>
                    </table>
                    </p>

                </div>
            </div>
        </div>
    </section>
    <!-- car details section ends here  -->

    <!-- car reviews section starts here  -->
    <!-- <section class="car-reviews">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>Car <span class="green-text"> Reviews</span></h3>
                    <div class="owl-carousel review-carousel owl-theme">
                        <div class="item px-3">
                            <div class="review-card py-4 mt-3">
                                <i class="fas fa-quote-left green-text big-icon"></i>
                                <p class="mb-3 mt-3">The 2008 Audi TT 3.2 Quattro is extraordinarily fun to drive,
                                    with
                                    unbeatable cornering from its all-wheel-drive system. The 12-speaker Bose audio
                                    system option produces pin-drop clarity. </p>
                                <p class="mb-0">Ben Döring</p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="far fa-star green-text"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item px-3">
                            <div class="review-card py-4 mt-3">
                                <i class="fas fa-quote-left green-text big-icon"></i>
                                <p class="mb-3 mt-3">Usually, roadsters imply compromise, but the 2008 Audi TT 3.2
                                    Quattro skimps on neither performance nor cabin gadgets. The convertible version
                                    of
                                    Audi's unique little coupe gets a remake for 2008, with some minor exterior
                                    updates
                                    and a full range of interior tech. But along with this incredible performance
                                    comes
                                    a high price, suggesting the TT is a rich person's toy.</p>
                                <p class="mb-0">Ben Döring</p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="far fa-star green-text"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item px-3">
                            <div class="review-card py-4 mt-3">
                                <i class="fas fa-quote-left green-text big-icon"></i>
                                <p class="mb-3 mt-3">The new TT roadster deemphasizes the curviness of its
                                    predecessor's
                                    body and breaks up the smooth sides with a more distinct beltline. It looks like
                                    a
                                    slab on wheels, but Audi proves that a slab can be sculpted. The headlights and
                                    grille give the front end a distinct face, while the curved trunk lip has a
                                    retractable spoiler. The convertible top works effortlessly, lowering and
                                    raising at
                                    the push of a button, and latching itself down without driver intervention.</p>
                                <p class="mb-0">Ben Döring</p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="far fa-star green-text"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item px-3">
                            <div class="review-card py-4 mt-3">
                                <i class="fas fa-quote-left green-text big-icon"></i>
                                <p class="mb-3 mt-3">The 2008 Audi TT 3.2 Quattro is a unique sports car that can be
                                    pushed hard with little effort. It doesn't neglect the tech side of things,
                                    however,
                                    offering premium audio, navigation, and hands-free phone support.</p>
                                <p class="mb-0">Ben Döring</p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="far fa-star green-text"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item px-3">
                            <div class="review-card py-4 mt-3">
                                <i class="fas fa-quote-left green-text big-icon"></i>
                                <p class="mb-3 mt-3">Being a roadster, the Audi TT has a small cabin with little
                                    storage
                                    space. But we had plenty of legroom and found the seats' long range of vertical
                                    power adjustment useful for centering our view through the windshield, no matter
                                    how
                                    tall the driver. None of our drivers had to sit with the top of the windshield
                                    frame
                                    blocking their view of the road.</p>
                                <p class="mb-0">Ben Döring</p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="far fa-star green-text"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item px-3">
                            <div class="review-card py-4 mt-3">
                                <i class="fas fa-quote-left green-text big-icon"></i>
                                <p class="mb-3 mt-3">The 2008 Audi TT 3.2 Quattro is extraordinarily fun to drive,
                                    with
                                    unbeatable cornering from its all-wheel-drive system. The 12-speaker Bose audio
                                    system option produces pin-drop clarity. </p>
                                <p class="mb-0">Ben Döring</p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="far fa-star green-text"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item px-3">
                            <div class="review-card py-4 mt-3">
                                <i class="fas fa-quote-left green-text big-icon"></i>
                                <p class="mb-3 mt-3">Usually, roadsters imply compromise, but the 2008 Audi TT 3.2
                                    Quattro skimps on neither performance nor cabin gadgets. The convertible version
                                    of
                                    Audi's unique little coupe gets a remake for 2008, with some minor exterior
                                    updates
                                    and a full range of interior tech. But along with this incredible performance
                                    comes
                                    a high price, suggesting the TT is a rich person's toy.</p>
                                <p class="mb-0">Ben Döring</p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="far fa-star green-text"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item px-3">
                            <div class="review-card py-4 mt-3">
                                <i class="fas fa-quote-left green-text big-icon"></i>
                                <p class="mb-3 mt-3">The new TT roadster deemphasizes the curviness of its
                                    predecessor's
                                    body and breaks up the smooth sides with a more distinct beltline. It looks like
                                    a
                                    slab on wheels, but Audi proves that a slab can be sculpted. The headlights and
                                    grille give the front end a distinct face, while the curved trunk lip has a
                                    retractable spoiler. The convertible top works effortlessly, lowering and
                                    raising at
                                    the push of a button, and latching itself down without driver intervention.</p>
                                <p class="mb-0">Ben Döring</p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="far fa-star green-text"></i>
                                </div>
                            </div>
                        </div>
                        <div class="item px-3">
                            <div class="review-card py-4 mt-3">
                                <i class="fas fa-quote-left green-text big-icon"></i>
                                <p class="mb-3 mt-3">The 2008 Audi TT 3.2 Quattro is a unique sports car that can be
                                    pushed hard with little effort. It doesn't neglect the tech side of things,
                                    however,
                                    offering premium audio, navigation, and hands-free phone support.</p>
                                <p class="mb-0">Ben Döring</p>
                                <div class="d-flex align-items-center justify-content-center">
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="fas fa-star green-text"></i>
                                    <i class="far fa-star green-text"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- car reviews section ends here  -->

    <!-- footer starts here -->
    <%- include ("footer.ejs") %>